# This file contains information about the code owners for various
# files in the MRTK codebase.
#
# For more information on CODEOWNERS, see:
# https://help.github.com/en/articles/about-code-owners
#
# For syntax, see:
# https://help.github.com/en/articles/about-code-owners#codeowners-syntax
#
# The intent of this file is to list, on a per-file/per-area basis:
# 1) Who is the most familiar with an area of code.
# OR
# 2) Who can take a first pass at pull request review, or delegate the review
# to someone else who may be more appropriate.
#
# Note that order in this file is EXTREMELY important - the last matching
# rule will win. This means that the most general rules should be listed
# first in this file, followed by more specific rules.

# Build / CI Pipeline YAML
/pipelines/ @marlenaklein-msft @AMollis @shaynie @srinjoym

# Build / CI C#
/Assets/MRTK/Core/Utilities/BuildAndDeploy/ @marlenaklein-msft @AMollis @shaynie @srinjoym

# Build / CI Powershell Scripts
/scripts/ci/ @marlenaklein-msft @AMollis @shaynie @srinjoym

# Packaging files
*.asmdef @marlenaklein-msft @AMollis @shaynie @srinjoym
*.nupkg @marlenaklein-msft @AMollis @shaynie @srinjoym
packagetemplate.json @marlenaklein-msft @AMollis @shaynie @srinjoym

# Core
/Assets/MRTK/Core/ @marlenaklein-msft @AMollis @shaynie @srinjoym
/Assets/MRTK/Core/Providers/InputSimulation/ @marlenaklein-msft @AMollis @shaynie @srinjoym

# Services and Providers
/Assets/MRTK/Providers/ @marlenaklein-msft @AMollis @shaynie @srinjoym
/Assets/MRTK/Providers/LeapMotion/ @marlenaklein-msft @AMollis @shaynie @srinjoym
/Assets/MRTK/Providers/Oculus/ @marlenaklein-msft @AMollis @shaynie @srinjoym
/Assets/MRTK/Providers/UnityInput/ @marlenaklein-msft @AMollis @shaynie @srinjoym
/Assets/MRTK/Services/ @marlenaklein-msft @AMollis @shaynie @srinjoym
/Assets/MRTK/Services/InputSystem/ @marlenaklein-msft @AMollis @shaynie @srinjoym
/Assets/MRTK/Services/SceneSystem/ @marlenaklein-msft @AMollis @shaynie @srinjoym

# SDK
/Assets/MRTK/SDK/ @marlenaklein-msft @AMollis @shaynie @srinjoym
/Assets/MRTK/SDK/Features/Input/ @marlenaklein-msft @AMollis @shaynie @srinjoym

# UX
/Assets/MRTK/SDK/Features/UX/ @marlenaklein-msft @AMollis @shaynie @srinjoym

# Tools
/Assets/MRTK/Tools/ @marlenaklein-msft @AMollis @shaynie @srinjoym

# Extensions
/Assets/MRTK/Extensions/ @marlenaklein-msft @AMollis @shaynie @srinjoym

# Standard Assets
/Assets/MRTK/StandardAssets/ @marlenaklein-msft @AMollis @shaynie @srinjoym
/Assets/MRTK/StandardAssets/Shaders/ @Cameron-Micka @marlenaklein-msft @AMollis @shaynie @srinjoym
/Assets/MRTK/SDK/StandardAssets/ @marlenaklein-msft @AMollis @shaynie @srinjoym
/Assets/MRTK/SDK/StandardAssets/Shaders/ @Cameron-Micka @marlenaklein-msft @AMollis @shaynie @srinjoym
/Assets/MRTK/Examples/StandardAssets/ @marlenaklein-msft @AMollis @shaynie @srinjoym

# Examples
/Assets/MRTK/Examples/ @marlenaklein-msft @AMollis @shaynie @srinjoym

# Tests
/Assets/MRTK/Tests/ @marlenaklein-msft @AMollis @shaynie @srinjoym
