name: Lint (MRTK3)
permissions:
  statuses: write

on:
  push:
    branches-ignore: ["mrtk3"]
  pull_request_target:
    branches: ["mrtk3"]

jobs:
  lint:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v3
      with:
        # Full git history is needed to get a proper list of changed files within `super-linter`
        fetch-depth: 0
    
    - name: Lint
      uses: github/super-linter@v4
      env:
        VALIDATE_ALL_CODEBASE: false
        DEFAULT_BRANCH: mrtk3
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}